@use '@/styles/variables' as *;

.page {
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  overflow: hidden;
}
